* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	font-family: arial;
}

main {
	background-color: red;
	width: 100%;
	height: 100%;
}

main a {
	color: white;
	font-size: 40px;
	margin: 0px 10px;
}

#menu_bar {
	background-color: blue;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
}

footer {
	bottom: 0px;
	background-color: black;
	width: 100%;
	padding: 30px;
}
footer p {
	color: white;
	font-size: 30px;
}